/* line 1, ../../scss/css/color/brown.scss */
.menu_wrapper {
  background: #7f5832;
}

/* line 7, ../../scss/css/color/brown.scss */
#menu li a {
  color: #ecd7c2;
  text-shadow: 0 1px 1px #5b3108;
}
/* line 11, ../../scss/css/color/brown.scss */
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a {
  background: url(images/menutipbrown.png) bottom center no-repeat;
}
/* line 15, ../../scss/css/color/brown.scss */
#menu li a.selected, #menu li a:hover {
  background: url(images/menutipbrown.png) bottom center no-repeat;
}
/* line 19, ../../scss/css/color/brown.scss */
#menu li li a {
  color: #cbb0f1;
}
/* line 21, ../../scss/css/color/brown.scss */
#menu li li a.selected, #menu li li a:hover {
  color: #cbb0f1;
}
/* line 27, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li > ul {
  background: #7f5832;
}
/* line 29, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li > ul li > ul {
  background: #7f5832;
}
/* line 33, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li li {
  color: #fff;
}
/* line 35, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li li a:link, #menu .ddsmoothmenu li li a:visited {
  color: #ecd7c2;
  background: url(images/menusep-brown.png) bottom repeat-x;
}
/* line 41, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li li:last-child a:link, #menu .ddsmoothmenu li li:last-child a:visited {
  background: none;
}
/* line 45, ../../scss/css/color/brown.scss */
#menu .ddsmoothmenu li li a {
  background: url(images/menusep-brown.png) bottom repeat-x;
}
/* line 51, ../../scss/css/color/brown.scss */
#menu li.current_page_item a {
  color: #fff;
}

/*top search
====================================================*/
/* Slider 
==========================================*/
/* line 62, ../../scss/css/color/brown.scss */
.slider-wrapper {
  border-bottom: 1px solid #7f5832;
}

/* #Slider Style Flexslider
================================================== */
/* Direction Nav */
/* line 72, ../../scss/css/color/brown.scss */
.flex-direction-nav li a {
  background: #515156;
  color: #fafafa;
}
/* line 75, ../../scss/css/color/brown.scss */
.flex-direction-nav li a:hover {
  background: #7f5832 !important;
}
/* line 79, ../../scss/css/color/brown.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 88, ../../scss/css/color/brown.scss */
.flex-control-nav li a {
  background: url(images/spbrown.png) no-repeat;
}

/*Feature Content
================================================*/
/* line 95, ../../scss/css/color/brown.scss */
.feature-content h1 a:hover {
  color: #7f5832;
}

/* line 100, ../../scss/css/color/brown.scss */
.feature-content-inner .circle {
  background: #da8c40;
}
/* line 102, ../../scss/css/color/brown.scss */
.feature-content-inner .circle img {
  background: #da8c40;
}
/* line 104, ../../scss/css/color/brown.scss */
.feature-content-inner .circle img:hover {
  color: #ecd7c2;
}
/* line 109, ../../scss/css/color/brown.scss */
.feature-content-inner .read-more {
  background: url(images/readmorebrown.png) center no-repeat;
}

/* line 114, ../../scss/css/color/brown.scss */
.feature-content .read-more:hover {
  color: #ecd7c2;
}

/*Feature-post
==================================================*/
/* line 121, ../../scss/css/color/brown.scss */
.feature-post .feature-post-inner h1 a:hover {
  color: #7f5832;
}

/* #testimonial slider
================================================== */
/* line 128, ../../scss/css/color/brown.scss */
.testimonial .pagination li a {
  background-image: url(images/tpbrown.png);
}

/* line 133, ../../scss/css/color/brown.scss */
#slides_testimonial .next, #slides_testimonial .prev {
  background: #515156;
}
/* line 136, ../../scss/css/color/brown.scss */
#slides_testimonial .next:hover, #slides_testimonial .prev:hover {
  background: #7f5832 !important;
}

/*sinupform 
====================================================*/
/* line 145, ../../scss/css/color/brown.scss */
.signupform input[type="text"]:focus {
  border: 1px solid #7f5832;
}
/* line 148, ../../scss/css/color/brown.scss */
.signupform input[type="submit"]:hover {
  border: solid 1px #7f5832;
}

/*Blog Page
===================================================*/
/* line 157, ../../scss/css/color/brown.scss */
.content-bar .post .post_title a:hover {
  color: #7f5832;
}
/* line 160, ../../scss/css/color/brown.scss */
.content-bar .post .post_content .read_more {
  color: #7f5832;
}
/* line 162, ../../scss/css/color/brown.scss */
.content-bar .post .post_content .read_more:hover {
  opacity: 0.5;
  color: #7f5832;
}
/* line 168, ../../scss/css/color/brown.scss */
.content-bar .post .post_meta a {
  color: #7f5832;
}
/* line 170, ../../scss/css/color/brown.scss */
.content-bar .post .post_meta a:hover {
  opacity: 0.5;
  color: #7f5832;
}
/* line 175, ../../scss/css/color/brown.scss */
.content-bar .post .post_meta .post_comment a {
  color: #7f5832;
}

/*Sidebar 
====================================================*/
/* line 184, ../../scss/css/color/brown.scss */
.sidebar ul li a:hover {
  color: #7f5832;
}

/*Footer 
================================================*/
/* line 193, ../../scss/css/color/brown.scss */
.footer .widget_inner .sitelink a:hover, .footer .widget_inner a:hover {
  color: #7f5832;
}
/* line 197, ../../scss/css/color/brown.scss */
.footer ul li a:hover {
  color: #7f5832;
}
