/* line 1, ../../scss/css/color/yellow.scss */
.menu_wrapper {
  background: #eeb407;
}

/* line 7, ../../scss/css/color/yellow.scss */
#menu li a {
  color: #f7e4ac;
  text-shadow: 0 1px 1px #ddac18;
}
/* line 11, ../../scss/css/color/yellow.scss */
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a {
  background: url(images/menutipyellow.png) bottom center no-repeat;
}
/* line 15, ../../scss/css/color/yellow.scss */
#menu li a.selected, #menu li a:hover {
  background: url(images/menutipyellow.png) bottom center no-repeat;
}
/* line 19, ../../scss/css/color/yellow.scss */
#menu li li a {
  color: #cbb0f1;
}
/* line 21, ../../scss/css/color/yellow.scss */
#menu li li a.selected, #menu li li a:hover {
  color: #cbb0f1;
}
/* line 27, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li > ul {
  background: #eeb407;
}
/* line 29, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li > ul li > ul {
  background: #eeb407;
}
/* line 35, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li li a:link, #menu .ddsmoothmenu li li a:visited {
  color: #fff;
  background: url(images/menusep-yellow.png) bottom repeat-x;
}
/* line 41, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li li:last-child a:link, #menu .ddsmoothmenu li li:last-child a:visited {
  background: none;
}
/* line 45, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li li a {
  background: url(images/menusep-yellow.png) bottom repeat-x;
}
/* line 51, ../../scss/css/color/yellow.scss */
#menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current-menu-parent a, #menu li.current_page_parent a {
  margin: 0;
  background: url(images/menutipyellow.png) bottom center no-repeat;
  color: #fff;
}
/* line 57, ../../scss/css/color/yellow.scss */
#menu li a.selected, #menu li a:hover {
  margin: 0;
  background: url(images/menutipyellow.png) bottom center no-repeat;
  color: #fff;
}
/* line 65, ../../scss/css/color/yellow.scss */
#menu .ddsmoothmenu li li a.selected, #menu .ddsmoothmenu li li a:hover {
  color: #fff;
  background: url(images/menusep-yellow.png) bottom repeat-x;
}
/* line 71, ../../scss/css/color/yellow.scss */
#menu li.current-menu-parent a, #menu li.current_page_parent a {
  color: #fff;
}
/* line 75, ../../scss/css/color/yellow.scss */
#menu li a.selected, #menu li a:hover {
  color: #fff;
}
/* line 79, ../../scss/css/color/yellow.scss */
#menu li.current-menu-item a:hover, #menu li.current-menu-parent a:hover, #menu li.current_page_parent a:hover, #menu li a:hover.selected, #menu li.current_page_item a {
  color: #fff;
}

/*top search
====================================================*/
/* Slider 
==========================================*/
/* line 91, ../../scss/css/color/yellow.scss */
.slider-wrapper {
  border-bottom: 1px solid #eeb407;
}

/* #Slider Style Flexslider
================================================== */
/* Direction Nav */
/* line 101, ../../scss/css/color/yellow.scss */
.flex-direction-nav li a {
  background: #515156;
  color: #fafafa;
}
/* line 104, ../../scss/css/color/yellow.scss */
.flex-direction-nav li a:hover {
  background: #eeb407 !important;
}
/* line 108, ../../scss/css/color/yellow.scss */
.flex-direction-nav li .disabled {
  opacity: .3;
  filter: alpha(opacity=30);
  cursor: default;
}

/* Control Nav */
/* line 117, ../../scss/css/color/yellow.scss */
.flex-control-nav li a {
  background: url(images/spyellow.png) no-repeat;
}

/*Feature Content
================================================*/
/* line 124, ../../scss/css/color/yellow.scss */
.feature-content h1 a:hover {
  color: #eeb407;
}

/* line 129, ../../scss/css/color/yellow.scss */
.feature-content-inner .circle {
  background: #eeb407;
}
/* line 131, ../../scss/css/color/yellow.scss */
.feature-content-inner .circle img {
  background: #eeb407;
}
/* line 133, ../../scss/css/color/yellow.scss */
.feature-content-inner .circle img:hover {
  color: #f7e4ac;
}
/* line 138, ../../scss/css/color/yellow.scss */
.feature-content-inner .read-more {
  background: url(images/readmoreyellow.png) center no-repeat;
}

/* line 143, ../../scss/css/color/yellow.scss */
.feature-content .read-more:hover {
  color: #f7e4ac;
}

/* #testimonial slider
================================================== */
/* line 150, ../../scss/css/color/yellow.scss */
.testimonial .pagination li a {
  background-image: url(images/tpyellow.png);
}

/* line 155, ../../scss/css/color/yellow.scss */
#slides_testimonial .next, #slides_testimonial .prev {
  background: #515156;
}
/* line 158, ../../scss/css/color/yellow.scss */
#slides_testimonial .next:hover, #slides_testimonial .prev:hover {
  background: #eeb407 !important;
}

/*sinupform 
====================================================*/
/* line 167, ../../scss/css/color/yellow.scss */
.signupform input[type="text"]:focus {
  border: 1px solid #f7e4ac;
}
/* line 170, ../../scss/css/color/yellow.scss */
.signupform input[type="submit"]:hover {
  border: solid 1px #f7e4ac;
}

/*Blog Page
===================================================*/
/* line 179, ../../scss/css/color/yellow.scss */
.content-bar .post .post_title a:hover {
  color: #eeb407;
}
/* line 182, ../../scss/css/color/yellow.scss */
.content-bar .post .post_content .read_more {
  color: #eeb407;
}
/* line 184, ../../scss/css/color/yellow.scss */
.content-bar .post .post_content .read_more:hover {
  opacity: 0.5;
  color: #eeb407;
}
/* line 190, ../../scss/css/color/yellow.scss */
.content-bar .post .post_meta a {
  color: #eeb407;
}
/* line 192, ../../scss/css/color/yellow.scss */
.content-bar .post .post_meta a:hover {
  opacity: 0.5;
  color: #eeb407;
}
/* line 197, ../../scss/css/color/yellow.scss */
.content-bar .post .post_meta .post_comment a {
  color: #eeb407;
}

/*Sidebar 
====================================================*/
/* line 206, ../../scss/css/color/yellow.scss */
.sidebar ul li a:hover {
  color: #eeb407;
}

/*Footer 
================================================*/
/* line 215, ../../scss/css/color/yellow.scss */
.footer .widget_inner .sitelink a:hover, .footer .widget_inner a:hover {
  color: #eeb407;
}
/* line 219, ../../scss/css/color/yellow.scss */
.footer ul li a:hover {
  color: #eeb407;
}
