.menu_wrapper {
  background: #07652d;
}

#menu {
  li {
    a {
      color: #8dc3a3;
      text-shadow: 0 1px 1px #053d1b;
    }
    &.current-menu-item a, &.current_page_item a, &.current-menu-parent a, &.current_page_parent a {
      background: url(images/menutipdarkgreen.png) bottom center no-repeat;
    }
    a {
      &.selected, &:hover {
        background: url(images/menutipdarkgreen.png) bottom center no-repeat;
      }
    }
    li a {
      color: #cbb0f1;
      &.selected, &:hover {
        color: #cbb0f1;
      }
    }
  }
  .ddsmoothmenu li {
    > ul {
      background: #07652d;
      li > ul {
        background: #07652d;
      }
    }
    li {
      a {
        &:link, &:visited {
          color: #fff;
          background: url(images/menusep-darkgreen.png) bottom repeat-x;
        }
      }
      &:last-child a {
        &:link, &:visited {
          background: none;
        }
      }
      a {
        background: url(images/menusep-darkgreen.png) bottom repeat-x;
        &.selected, &:hover {
          color: #8dc3a3;
          background: url(images/menusep-darkgreen.png) bottom repeat-x;
        }
      }
    }
  }
  li {
    &.current-menu-item a:hover, &.current-menu-parent a:hover, &.current_page_parent a:hover, a:hover.selected {
      color: #fff;
    }
  }
  .ddsmoothmenu li li, li.current_page_item a {
    color: #fff;
  }
}

/*top search
====================================================*/

/* Slider 
==========================================*/

.slider-wrapper {
  border-bottom: 1px solid #07923f;
}

/* #Slider Style Flexslider
================================================== */

/* Direction Nav */

.flex-direction-nav li {
  a {
    background: #515156;
    color: #fafafa;
    &:hover {
      background: #07652d !important;
    }
  }
  .disabled {
    opacity: .3;
    filter: alpha(opacity = 30);
    cursor: default;
  }
}

/* Control Nav */

.flex-control-nav li a {
  background: url(images/spdarkgreen.png) no-repeat;
}

/*Feature Content
================================================*/

.feature-content h1 a:hover {
  color: #07652d;
}

.feature-content-inner {
  .circle {
    background: #07923f;
    img {
      background: #07923f;
      &:hover {
        color: #8dc3a3;
      }
    }
  }
  .read-more {
    background: url(images/readmoredarkgreen.png) center no-repeat;
  }
}

.feature-content .read-more:hover {
  color: #8dc3a3;
}

/*Feature-post
==================================================*/

.feature-post .feature-post-inner h1 a:hover {
  color: #07652d;
}

/* #testimonial slider
================================================== */

.testimonial .pagination li a {
  background-image: url(images/tpdarkgreen.png);
}

#slides_testimonial {
  .next, .prev {
    background: #515156;
  }
  .next:hover, .prev:hover {
    background: #07652d !important;
  }
}

/*sinupform 
====================================================*/

.signupform input {
  &[type="text"]:focus {
    border: 1px solid #07652d;
  }
  &[type="submit"]:hover {
    border: solid 1px #07652d;
  }
}

/*Blog Page
===================================================*/

.content-bar .post {
  .post_title a:hover {
    color: #07652d;
  }
  .post_content .read_more {
    color: #07652d;
    &:hover {
      opacity: 0.5;
      color: #07652d;
    }
  }
  .post_meta {
    a {
      color: #07652d;
      &:hover {
        opacity: 0.5;
        color: #07652d;
      }
    }
    .post_comment a {
      color: #07652d;
    }
  }
}

/*Sidebar 
====================================================*/

.sidebar ul li a:hover {
  color: #07652d;
}

/*Footer 
================================================*/

.footer {
  .widget_inner {
    .sitelink a:hover, a:hover {
      color: #07652d;
    }
  }
  ul li a:hover {
    color: #07652d;
  }
}
