.menu_wrapper {
  background: #eeb407;
}

#menu {
  li {
    a {
      color: #f7e4ac;
      text-shadow: 0 1px 1px #ddac18;
    }
    &.current-menu-item a, &.current_page_item a, &.current-menu-parent a, &.current_page_parent a {
      background: url(images/menutipyellow.png) bottom center no-repeat;
    }
    a {
      &.selected, &:hover {
        background: url(images/menutipyellow.png) bottom center no-repeat;
      }
    }
    li a {
      color: #cbb0f1;
      &.selected, &:hover {
        color: #cbb0f1;
      }
    }
  }
  .ddsmoothmenu li {
    > ul {
      background: #eeb407;
      li > ul {
        background: #eeb407;
      }
    }
    li {
      a {
        &:link, &:visited {
          color: #fff;
          background: url(images/menusep-yellow.png) bottom repeat-x;
        }
      }
      &:last-child a {
        &:link, &:visited {
          background: none;
        }
      }
      a {
        background: url(images/menusep-yellow.png) bottom repeat-x;
      }
    }
  }
  li {
    &.current-menu-item a, &.current_page_item a, &.current-menu-parent a, &.current_page_parent a {
      margin: 0;
      background: url(images/menutipyellow.png) bottom center no-repeat;
      color: #fff;
    }
    a {
      &.selected, &:hover {
        margin: 0;
        background: url(images/menutipyellow.png) bottom center no-repeat;
        color: #fff;
      }
    }
  }
  .ddsmoothmenu li li a {
    &.selected, &:hover {
      color: #fff;
      background: url(images/menusep-yellow.png) bottom repeat-x;
    }
  }
  li {
    &.current-menu-parent a, &.current_page_parent a {
      color: #fff;
    }
    a {
      &.selected, &:hover {
        color: #fff;
      }
    }
    &.current-menu-item a:hover, &.current-menu-parent a:hover, &.current_page_parent a:hover, a:hover.selected, &.current_page_item a {
      color: #fff;
    }
  }
}

/*top search
====================================================*/

/* Slider 
==========================================*/

.slider-wrapper {
  border-bottom: 1px solid #eeb407;
}

/* #Slider Style Flexslider
================================================== */

/* Direction Nav */

.flex-direction-nav li {
  a {
    background: #515156;
    color: #fafafa;
    &:hover {
      background: #eeb407 !important;
    }
  }
  .disabled {
    opacity: .3;
    filter: alpha(opacity = 30);
    cursor: default;
  }
}

/* Control Nav */

.flex-control-nav li a {
  background: url(images/spyellow.png) no-repeat;
}

/*Feature Content
================================================*/

.feature-content h1 a:hover {
  color: #eeb407;
}

.feature-content-inner {
  .circle {
    background: #eeb407;
    img {
      background: #eeb407;
      &:hover {
        color: #f7e4ac;
      }
    }
  }
  .read-more {
    background: url(images/readmoreyellow.png) center no-repeat;
  }
}

.feature-content .read-more:hover {
  color: #f7e4ac;
}

/* #testimonial slider
================================================== */

.testimonial .pagination li a {
  background-image: url(images/tpyellow.png);
}

#slides_testimonial {
  .next, .prev {
    background: #515156;
  }
  .next:hover, .prev:hover {
    background: #eeb407 !important;
  }
}

/*sinupform 
====================================================*/

.signupform input {
  &[type="text"]:focus {
    border: 1px solid #f7e4ac;
  }
  &[type="submit"]:hover {
    border: solid 1px #f7e4ac;
  }
}

/*Blog Page
===================================================*/

.content-bar .post {
  .post_title a:hover {
    color: #eeb407;
  }
  .post_content .read_more {
    color: #eeb407;
    &:hover {
      opacity: 0.5;
      color: #eeb407;
    }
  }
  .post_meta {
    a {
      color: #eeb407;
      &:hover {
        opacity: 0.5;
        color: #eeb407;
      }
    }
    .post_comment a {
      color: #eeb407;
    }
  }
}

/*Sidebar 
====================================================*/

.sidebar ul li a:hover {
  color: #eeb407;
}

/*Footer 
================================================*/

.footer {
  .widget_inner {
    .sitelink a:hover, a:hover {
      color: #eeb407;
    }
  }
  ul li a:hover {
    color: #eeb407;
  }
}
